<h1 class="homepage-title">HEADS UP</h1>



<div class="include-heading">
  <h2>Heads Up near me...</h2>
</div>

<div class="main-home-div">
  <img class="map-image" src="images/placeholdermap.png" alt="">

  <div class="list-of-heads-ups">
    <ul>
      <li>11am - Aggressive behavior – male, 20s, red shirt “looking for a fight”</li>
      <hr>
      <li>11am - Aggressive behavior – male, 20s, red shirt “looking for a fight”</li>
      <hr>
      <li>11am - Aggressive behavior – male, 20s, red shirt “looking for a fight”</li>
      <hr>
      <li>11am - Aggressive behavior – male, 20s, red shirt “looking for a fight”</li>
    </ul>
      <button class="create-button"><a href="/create"> Raise a Heads Up</a></button>
  </div>

</div>

