<div class="main-home-div">

    <form action="/" method="post">
      <label for="">Summary</label>
      <input name="summary" type="text">



    <label for="type">Type of Heads Up</label>
    <select name="type" id="">
      <option value="1">Aggressive Behaviour</option>
      <option value="3">Other</option>
      <option value="2">Theft</option>
    </select>


    <label for="Location">Location</label>
    <input type="location" name="location" id="">



      <button type="submit">Create</button>
    
    </form>

  </div>