body {
    background-color: #43291F;
}


ul {
    list-style-type: none;
    

}

a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.homepage-title{
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Bebas Neue', cursive;
}

.main-home-div{
    background-color: #F4F0BB;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    min-height: 60vh;
    margin: 0px 200px 200px 200px;
    border-radius: 20px;
}



.include-heading{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin: 10px 200px 0px 200px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: white;
    line-height: 0;

}

.map-image{
    height: auto;
    width: 50%;
    margin: 40px 0px 40px 40px;
}

.list-of-heads-ups{
    height: auto;
    width: auto;
    margin: 40px 40px 40px 0px;
    color: grey;
    font-size: 20px;

}


.create-button{
    background-color: #2374AB;
    font-size: 100%;
    width: 80%;
    margin: 40px 40px 40px 60px;
    height: 10%;
    position: relative;
    right:    0px;
    bottom:   0px;
}



/* New Head Form */


.head-form{
    width: 100%;
    display: grid;
    margin: 20px;
    grid-template-columns: 100%;
}

input, select, button{
    border-radius: 20px;
}

